<app-header />

<main>
    <ul id="users">
        <li>
            <app-user [avatar]="users[0].avatar" [name]="users[0].name" /> <!-- 7. Envoyer les données au composant enfant (UserComponent) -->
        </li>
        <li>
            <app-user [avatar]="users[1].avatar" [name]="users[1].name"/> <!-- 7. Envoyer les données au composant enfant (UserComponent) -->
        </li>
        <li>
            <app-user [avatar]="users[2].avatar" [name]="users[2].name"/> <!-- 7. Envoyer les données au composant enfant (UserComponent) -->
        </li>
        <li>
            <app-user [avatar]="users[3].avatar" [name]="users[3].name"/> <!-- 7. Envoyer les données au composant enfant (UserComponent) -->
        </li>
    </ul>
</main>
