<app-header />

<main>
    <ul id="users">
        <li>
        <!-- (select)="onSelectUser($event)" Le parent écoute l'événement select dans le template recu depuis l'enfant-->
        <!-- "Quand l’événement select est déclenché, exécute ce qu’il y a à droite du "=", alors exécute la méthode onSelectUser(...) du parent, et passe-lui la donnée envoyée par l’enfant (via $event). -->    
        <app-user 
            [id]="users[0].id" 
            [avatar]="users[0].avatar" 
            [name]="users[0].name" 
            (select)="onSelectUser($event)"  
            /> 
        </li>
        <li>
            <app-user 
            [id]="users[1].id" 
            [avatar]="users[1].avatar" 
            [name]="users[1].name"
            (select)="onSelectUser($event)"
            /> 
        </li>
        <li>
            <app-user 
            [id]="users[2].id" 
            [avatar]="users[2].avatar" 
            [name]="users[2].name"
            (select)="onSelectUser($event)"
            /> 
        </li>
        <li>
            <app-user 
            [id]="users[3].id" 
            [avatar]="users[3].avatar" 
            [name]="users[3].name"
            (select)="onSelectUser($event)"
            /> 
        </li>
    </ul>

    <!-- Output ici-->
     <app-task [name]="selectedUser.name"/>

</main>
